<os-tray caption="Example" content="tray-content-block">
    <section class="tray-content">
            <div class="row">
                <div class="col-xs-12 form-label">
                    <h2>Filters</h2>
                </div>
                <div class="col-xs-12 form-item">
                    <label>Age At Diagnosis</label>
                    <div range-slider min="vm.diagnosisMinValue" model-min="vm.diagnosisMin" max="vm.diagnosisMaxValue" model-max="vm.diagnosisMax" show-values="true" attach-handle-values="true" on-handle-up="vm.applyFilter()"></div>
                </div>
                <div class="col-xs-12 form-item">
                    <label>Search</label>
                    <input type="text" class="ngrs-range-slider" style="width: 100%;" ng-model="vm.search">
                </div>
                <div class="col-xs-12 form-label">
                    <h2>Patient Cohort</h2>
                </div>
                <div class="dropdown bs-dropdown">

                    <button class="btn btn-default dropdown-toggle" type="button"
                    style="width: 34px;display: inline-block; margin-right:0px; float:right"
                    ng-click="vm.addCohortPatient()">+
                    </button>

                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    style="width: 220px;display: inline-block; margin-right:0px;">
                        {{vm.optCohortPatient.name}}
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.optCohortPatients"
                          ng-click="vm.optCohortPatient=item">{{item.name}}</li>
                    </ul>

                  </div>
            </div>
    </section>
</os-tray>

<section class="tray-content-block">
    <div class="container-fluid">
        <h2>Example</h2>
      <p>
        To add a new analysis tool, follow these steps:
      </p>

       <ol>
        <li> Create a New Component
          <ul>
          <li> Copy the example component within apps/components/
          <li> Update the 3 files to match the new tool needs
          <li> Replace all "example" with the name of the new method
          <li> Update the HTML file to define the necessary user interface
          <li> Handle all stylistic changes within the <>.scss file
          <li> Change the <>.directive.js file for data and input handling
          </ul>
       <li> Add the tool to the application menu
          <ul>
          <li> Within app/components/tools/tools.directive, include the name, route, image, and copy (text) describing the tool.
          </ul>
       <li> Link the tool using the Rest API
          <ul>
          <li> Within app/index.route.js, add the state url, example, and authentication settings.
          </ul>
       </ol>

    <p>  Add interactions with R through the R message handler.  This can be accessed through the osApi
         variable in the AngularJS directive.  Commands must be registered within app/component/oncoscape/oncoscape.api.service.js.
         To monitor the R console for debugging, set silent to false in the server/process.js file.
    </p>

    <p>  To use specific JS libraries (eg d3), include them in the constructor of the controller within the directive.

    </p>

    <h3>Example Chart</h3>
    <div id="example-chart"></div>


    </div>
</section>
