exportClasses(NetworkMaker)

exportMethods(
  calculateSampleSimilarityMatrix,
  usePrecalculatedSampleSimilarityMatrix,
  getSimilarityMatrix,
  buildChromosomalTable,
  getChromosomalInfo,
  get.filtered.sampleIDs,
  getSamplesGraph,
  getChromosomeGraph,
  getMutationGraph,
  getCopyNumberGraph,
  getSimilarityScreenCoordinates,
  getChromosomeScreenCoordinates,
  get.filtered.sampleIDs
  )

export(
   NetworkMaker
   )

import(PatientHistory)
import(SttrDataPackage)
importClassesFrom(methods, character, integer)
importFrom(methods, new)

