// Namespace
.sunburst{
// class name should match the component name
// anything defined in here will only apply to this component and
//   not bleed into other components

      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: auto;
      position: relative;
      width: 960px;

    form {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    path {
      stroke: #fff;
      fill-rule: evenodd;
    }

    text {
      font-family: Arial, sans-serif;
      font-size: 12px;
    }


}


// If nesting within the .template structure is too complex
// follow the namespace conventions of using .template_*
