// Namespace
.sunburst{
// class name should match the component name
// anything defined in here will only apply to this component and
//   not bleed into other components


    path {
      stroke: #fff;
      fill-rule: evenodd;
    }

    text {
      font-family: Arial, sans-serif;
      font-size: 12px;
    }


}


// If nesting within the .template structure is too complex
// follow the namespace conventions of using .template_*
